# Specific build artifacts
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/ldm-1.0.pc
/ldm.service
/libldm-*/
/libldm-*.tar.gz
/libtool
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/stamp-h1

# Generic build artifacts
.libs/
.deps/
Makefile
Makefile.in
*.o
*.la
*.lo

# Random exclusions
.gdb_history

# Generated binaries
/src/ldmtool
/test/partread
/test/ldmread
/libldm.spec

# Temporary files
.*.swp
*~
