# Build artifacts
.libs/
.deps/
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/m4
/libtool
/stamp-h1
Makefile
Makefile.in

# Random exclusions
.gdb_history

# Generated binaries
/src/ldmtool
/test/partread
/test/ldmread
/test/ldmtables
*.o
*.la
*.lo

# Temporary files
.*.swp
*~
